# Enable module Rewrite
RewriteEngine On

# Redirect condtitions
# If request is not file, then redirect request to index.php
RewriteCond %{REQUEST_FILENAME} !-f
# If request is not folder, then redirect request to index.php
# RewriteCond %{REQUEST_FILENAME} !-d

# Send all requests (.*) to index.php
# .* = $1
# All requests added as get-request
# [L,QSA] - withoutspace! 
# L - last rule, QSA - ?id=12 = index.php?id=12
RewriteRule (.*) index.php?$1 [L,QSA]